{% if not is_admin %}
<div class="alert alert-warning" style="margin:10px;">Solo admin.</div>
{% else %}
<div class="edit-section-label"><label>Selecciona tipo:</label></div>
<div id="add-d" class="img-add-new bg-primary" aria-id="D" ><span class="mdi mdi-calendar-week mdi-24px" ></span> Diario</div>
<div id="add-w" class="img-add-new bg-primary" aria-id="W" ><span class="mdi mdi-calendar-range mdi-24px" ></span> Semanal</div>
<div id="add-r" class="img-add-new bg-primary" aria-id="R" ><span class="mdi mdi-calendar-refresh mdi-24px" ></span> Recurrente</div>
{% endif %}
